@using WarehouseResource
@model System.Collections.Generic.List<Warehouse.Models.Supply.SupplyModel>

<div class="row hidden-xs">
    <div class="col-xs-12">
        <h1>@ResSupply.SupplyList</h1>
    </div>
</div>

@foreach (var supply in Model)
{
    <div class="panel panel-default">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row"><span>@supply.SupplyNumber</span>
                </div>
            </div>
            <div class="panel-body">

                @foreach (var item in supply.Positions)
                {
                    <div class="row">
                        <div class="col-xs-3">
                            @item.Lp
                        </div>
                        <div class="col-xs-3">
                            @item.Product.Name
                        </div>
                        <div class="col-xs-3">
                            @item.Product.Ean
                        </div>
                        <div class="col-xs-3">
                            @item.Count
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <br />
}

