@using Warehouse.Data.Enum
@using WarehouseResource
@model System.Collections.Generic.List<Warehouse.Models.ProductList.OutProductListModel>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row hidden-xs">
    <div class="col-xs-12">
        <h1>@ResGlobal.OutProductList</h1>
    </div>
</div>

@foreach (var outProductList in Model)
{
    <div class="panel @outProductList.PanelType">
        <div class="panel-heading">
            <div class="row">
                @outProductList.Date.ToShortDateString()
            </div>
        </div>
        <div class="panel-body">
            @foreach (var item in outProductList.Products)
            {
                <div class="row item-content" style="display: none;">
                    <div class="col-xs-4">
                        @item.ProductEan
                    </div>
                    <div class="col-xs-4">
                        @item.ProductName
                    </div>
                    <div class="col-xs-4">
                        @item.ProductCount
                    </div>
                </div>
            }
            <button type="button" class="btn btn-sm btn-primary pull-right message-show-button" onclick=" showMessage($(this)); ">
                <i class="glyphicon glyphicon-chevron-down"></i> @ResGlobal.Expand
            </button>
            <button type="button" class="btn btn-sm btn-primary pull-right hidden message-hide-button" onclick=" hideMessage($(this)); ">
                <i class="glyphicon glyphicon-chevron-up"></i> @ResGlobal.Collapse
            </button>
        </div>
    </div>
    <br />
}


<script>
    function showMessage(message) {
        message.addClass('hidden');
        message.siblings(".message-hide-button").removeClass('hidden');
        message.parent().parent().find(".item-content").show();
    }

    function hideMessage(message) {
        message.addClass('hidden');
        message.siblings(".message-show-button").removeClass('hidden');
        message.parent().parent().find(".item-content").hide();
    }
</script>